[class*="col"] {
    background-color: #006cfa;
    color: white;
    border: 1px white solid;
    text-align: center;
}
.green{
    background-color: #01e165;
    border: 1px solid #006cfa;
}
.m-bottom{
    margin-bottom: 40px;
}
.padding{
    padding: 10px;
}
.height{
    height: 50px;
}